<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Internships</h5>
          <p class="card-text">For a range of internships in a  variety of disciplines.</p>
          <a href="/internships" class="btn btn-primary">More internships</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bursaries</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/Bursaries" class="btn btn-primary">More Bursaries</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Learnerships</h5>
          <p class="card-text">For a range of internships in a  variety of disciplines.</p>
          <a href="/Learnerships" class="btn btn-primary">More Learnerships</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Latest News</h5>
          <p class="card-text">For a range of internships in a  variety of disciplines.</p>
          <a href="/News" class="btn btn-primary">More News</a>
        </div>
      </div>
    </div>
  </div>
