
  <div class="container">
    <h2>Add new post</h2>
    <div class="row">
      <div class="col-6">
        <form #form="ngForm" (ngSubmit)="AddPostObj">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="AddPostObj.addPost.Name">
          </div>
          <div class="input-group mb-3">
            <select class="form-select" id="jobtype" name="jobtype" [(ngModel)]="AddPostObj.addPost.JobType">
              <option selected>Job type</option>
              <option value="1">Part-time</option>
              <option value="2">Full-time</option>
            </select>
            <label class="input-group-text" for="jobtype">Options</label>
          </div>
          <div class="input-group mb-3">
            <select class="form-select" id="category" name="category" [(ngModel)]="AddPostObj.addPost.Category">
              <option selected>Post type</option>
              <option value="1">Internship</option>
              <option value="2">Bursary</option>
              <option value="3">Learnership</option>
              <option value="4">News</option>
            </select>
            <label class="input-group-text" for="category">Options</label>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Job description</label>
            <textarea class="form-control" id="description" name="description" rows="3" [(ngModel)]="AddPostObj.addPost.Description"></textarea>
          </div>
          <div class="mb-3">
            <label for="Additional" class="form-label">Additional description</label>
            <textarea class="form-control" id="Additional" name="additional" rows="3" [(ngModel)]="AddPostObj.addPost.AdditionalDescription"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" (click)="onAddPost()">Add Post</button>
        </form>
      </div>
    </div>
  </div>
  