<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="input-group mb-3">
  <select class="form-select" id="inputGroupSelect02">
    <option selected>Job type</option>
    <option value="1">Part-time</option>
    <option value="2">Full-time</option>
  </select>
  <label class="input-group-text" for="inputGroupSelect02">Options</label>
</div>
  <div class="input-group mb-3">
    <select class="form-select" id="inputGroupSelect02">
      <option selected>Post type</option>
      <option value="1">Internship</option>
      <option value="2">Bursary</option>
      <option value="3">Learnership</option>
      <option value="4">News</option>
    </select>
    <label class="input-group-text" for="inputGroupSelect02">Options</label>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Job description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Additional description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
