<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">KasieCareers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  routerLink="/internships">Internships</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Bursaries">Bursaries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Learnerships">Learnerships</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/News">News</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>

<footer>
<div class="footer">
  <h4 class="text-center">About KasieCareers</h4>
  <p class="text-center">We are here to make the job market onboarding easy for you, entry-level job seekers. Strictly South African vacancies.</p>
  <h6 class="text-center">Contact Us</h6>
  <p class="text-center">kasiecareers&#64;gmail.com</p>
</div>
</footer>

<div class="container">
  <div class="text-center">
    <p class="small">
      &copy; 2024 KasieCareers - All Rights Reserved
    </p>
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </div>
</div>


